@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #fff;
    --secondary-color: #000;
}

.bounceAnimation {
    animation-name: bounceAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes bounceAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* width */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
    background: theme('colors.neutral');
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: theme('colors.primary');
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: theme('colors.secondary');
}